.product {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 -10px 20px -5px rgba(115, 115, 115, 0.75);

  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;

  background-color: white;
  z-index: 1;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 800;
}
.product__price {
  margin-top: 5px;
}
.product__info > button {
  /* height: 30px;
  background: #f0c14b;
  border: 1px solid;
  margin-top: -30px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 5px; */
  background: #f0c14b;
  border-radius: 2px;
  width: 100% !important;
  height: 30px;
  border: 1px solid;
  font-weight: bold;
  margin-top: -30px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;


}
.product__rating {
  display: flex;
  margin: 10px 1px;
}
/* .title {
    font-size: 110%;
} */
